.navbar{
    border-bottom: solid 4px #009EE2;
    opacity: 0.8;
    
}
header{
    background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.6)) ,url(../images/home.jpg);
    min-height: 100vh;
    background-position: center;
    background-size: cover;

}